body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1e1e;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  #root {
    flex-direction: column;
  }
}

.form-control {
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  border-radius: 0.7rem;
  background: #fff;
}

div.field {
  margin: 0.8rem auto;
  text-align: center;
  width: 100%;
}

button.btn {
  width: 100%;
  background: #1565c0;
  color: #fff;
}

button.btn:hover {
  background: #3480d8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  width: 2.5rem;
}

.signup {
  width: 20rem;
}

.names {
  display: flex;
  gap: 0.5rem;
}

div.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

div.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}
